<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  </head>
  <body>
    <h1 class="p-3 mb-2 bg-dark text-white"><%= title %></h1>

    <p>Genshin Impact é um RPG de ação em mundo aberto em que os jogadores assumem o controle do misterioso “Viajante”, que é transportado para o mundo desconhecido de Teyvat e que deve encontrar o sua irmã gêmeo(ou irmão gêmeo, depende do gênero que você escolheu) que desapareceu durante o processo. Ele é um game focado na campanha principal e o jogador é capaz de trocar livremente entre os personagens do grupo. No entanto, é possível se juntar a mais três amigos para jogar cooperativamente tanto para explorar o cenário como também para cumprir tarefas.</p>

<a class="btn btn-primary" href="/noticia" role="button">Pagina de Noticia</a>

<a class="btn btn-primary" href="/noticia/rerun" role="button">Pagina de Rerun</a>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
