<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>

<h3 class="p-3 mb-2 bg-dark text-white">Rerun da 2.2</h3>
<br>
<h5>A atualização para 2.2 não trara apenas a nova ilha, mas também o rerun de dois personagens que foram bastantes pedidos pela comunidade.</h5>
<br><br>

<h4 class="p-3 mb-2 bg-info text-dark">Tartaglia (Hydro)</h4>

<img src="/images/childe.jpg">

<p>Tartaglia também conhecido como Childe é o Nº 11 dos Onze Mensageiros dos Fatui. Seguindo o perigo onde quer que vá, Childe está sempre ansioso por um desafio. Ele é considerado um dos membros mais perigosos dos Mensageiros</p><br><br>



<h4 class="p-3 mb-2 bg-danger text-white">Hutao (Pyro)</h4>
<img src="/images/hutao.jpg">

<p>Hutao é a 77ª Diretora da Casa Funerária de Wangsheng. apesar de ser jovem ela é encarregada de cuidar dos assuntos da funerária de Liyue.</p>

<a class="btn btn-primary" href="/" role="button">Voltar para o menu</a>

<a class="btn btn-primary" href="/noticia" role="button">Conheça a nova ilha</a>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
