<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  </head>
  <body>
    <h1 class="p-3 mb-2 bg-dark text-white"><%= title %></h1>
  
  <h3>Teaser Versão 2.2: "Mistério do Mar de Névoa" | Genshin Impact</h3>
<img src="/images/Ilha.jpg">
<p>Conforme anunciado neste final de semana, a versão 2.2 trará a última das seis ilhas principais da região de Inazuma "Os julgamentos dos guerreiros estão escondidos no domínio, o passado miserável enterrado na névoa. Quando o mistério for revelado, não importa se trata-se de um guerreiro pronto para lutar,
ou de um viajante de uma terra distante, todos encontrarão a sua própria resposta."</p>

<a class="btn btn-primary" href="/noticia/rerun" role="button">Pagina de Rerun</a>

<a class="btn btn-primary" href="/" role="button">Voltar a pagina principal</a>



   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
